	
@media only screen and (min-width: 1920px){

	nav{
		font-size:12px;
	}

	body{
		font-size:13px;
	}

	.logo{
		font-size:12px;
	}
	.logo img{
		width: 6%;
	}

	.foot1 {
    width: 50%;
	}

}

@media only screen and (max-width: 1601px){

	nav{
		font-size:10px;
	}

	body{
		font-size:13px;
	}

	.banner_container1{
		height: 11vh;
	}

	.carpool_text{
	font-size: 12px;
	position: absolute;
	top: 30px;

	}

	.carpool_logo{
		width: 30%;
	}

	.foot1 {
    width: 70%;
	}

	.icons{
		width: 500px;
		

	}
	.foot3{
		margin-left: 50px;
	}
	footer{
		font-size:11px;
	}

	.box1 {
    width: 60%;
	}

	.logo_flat{
		right: 0;
	}
}

@media only screen and (max-width: 1281px){

	.carpool_text{
	
	top: 25px;
	

	}
	nav li {
		clear: both;
		display: flex;
		flex-direction: column;
		font-size: 10px;
		padding-top: 5px;
		position: relative;
		left: 95%;
		transition: all 1s cubic-bezier(0, .13, .04, 1);
		display: none;
		z-index: 3;
		top: 35px;


	}
	nav ul li a:hover{
		font-size: 12px;
	}
	.menu1{
	position: absolute;
	z-index: 3;
	right: 10%;
	top: 30px;
	cursor: pointer;
	display: block;
	}

	.bar1{
		width: 30px;
		height: 3px;
		background:#fff;
	}
	.bar2{
		width: 30px;
		height: 3px;
		background:#fff;
		margin-top: 5px;
	}
	.bar3{
		width: 30px;
		height: 3px;
		background:#fff;
		margin-top: 5px;

	}
	.drop{
		height: 40vh;
	}
	.menu_reveal{
		position: relative;
		left: 0px;
		display: block;

	}
	nav{
		height: 30vh;
	}
	.banner_container1{
		transition: all .3s cubic-bezier(0, .13, .04, 1);
	}

	.box1 {
    width: 90%;
	}

	.box1_content h1{
		font-size:2em;
	}

	.logo_flat{
		right: 0;
		transform: scale(.7);
	}
	.container{
		width: 80%;
	}
	.operations	div .box1{
		width: 50%;
		padding-top: 50px;
	}
	.security div .box1{
		width: 0%;
		
	}
	 h5{
		font-size: 1em;
		
	}
	.banner_container1{
		height: 6vh;
	}
	.drop{
		height: 20vh;
	}




}

@media only screen and (max-width: 1025px){

	.logo_flat{
		right: -10%;
	}

	.banner_container1{
		height: 6vh;
	}
	.drop{
		height: 20vh;
	}

}

@media only screen and (max-width:899px){
	.flexbox{
		flex-direction: column;
		margin:0px auto;
		text-align: center;


	}

	.box1{
		width: 100%;
	}
	.operations div .box1{
		width: 100%;
		margin-left: 7%;

	}
	.box2{
		width: 100%;

	}
	.logo_flat{
		position: relative;
		width: 100%;
		margin-left: -10%;
	}

	.icon1, .icon2{
		float: left;
		width: 40%;

	}
	h6{
		display: none;

	}
	h5{
		padding: 0;
		margin: 0;

	}
	.icon2{
		margin-left: 30px;
	}

	.banner_container1{
		height: 6vh;
	}

	.drop{
		height: 20vh;
	}
	nav li {
		font-size: 14px;
	}
	.third_content {
		padding:0px;
		text-align: center;


	}
	.iphone {
		width: 100%;
		display: none;
		background-size: 50%;
		padding: 0;
	}

	.last_content ul li{
		list-style: none;


	}

	.last_content ul{
		padding: 0;
	}

	 .container{
		width: 100%;
	}
	.security div:nth-child(1){
		margin: 0px auto;
		width: 80%;
	}

		.foot1,.foot2{
		display:none;
	}
	
	.icons{
		width: 300px;
		padding-left: 30px;

	}
	footer{
		height: 5vh;
	}

	.foot3{
		margin: 0px auto;
		font-size: 8px;
		width: 150px;
	}





}
