@media only screen and (min-width: 1920px){


	nav{
		font-size:12px;
	}
	.logo{
		font-size:12px;
	}
	.logo img{
		width: 6%;
	}
	.intro{
		padding-left: 40px;
	}
	.banner_container1{
		height: 8vh;
	}


	.intro{
		font-size:14px;
	}

	video{
		width: 80%;

	}


	.sign_in h1, .sign_up h1,.splash h1,.box1 h1{
		font-size: 2.5em;
	}

	.feature5{
		transform:translateX(-80PX);
	}
	.feature56_container{
	
	left: -90px;
	
	}

}


@media only screen and (max-width: 1601px){

	
	nav{
		font-size:10px;
	}
	.logo{
		font-size:12px;
		padding-top:10px;
	}

	.banner_container1{
		height: 10vh;
	}

	.logo img{
		width: 5.5%;

	}

	video{
		width: 75%;

	}
	.sign_in h1, .sign_up h1,.splash h1,.box1 h1{
		font-size: 2em;
	}
	body{
		font-size: 12px;
	}

	.splash {
     margin-top: 250px;
	}

	.feature1,.feature2,.feature5,.feature6,.feature7,.feature8 {
    
    width: 60%;
    height: 80vh;

	}

	.feature1{
		left:100px;
	}


	.feature4{
		padding-top: 200px;
	}
	.feature5{
		left: 250px;
	}

	.feature56_container {
    position: relative;
    top: -300px;
    left: -20px;
	}

	
	
}

@media only screen and (max-width: 1281px){

	
	nav{
		font-size:8px;
		position: absolute;
		z-index: 3;
		right: 50px;
	}
	.logo{
		font-size:8px;
		padding-top:8px;
	}

	.banner_container1{
		height: 10vh;
	}

	.logo img{
		width: 5%;

	}

	video{
		width: 75%;

	}
	.sign_in h1, .sign_up h1,.splash h1,.box1 h1{
		font-size: 2em;
	}

	.intro{
		padding-left: 30px;
		width: 100%;
		font-size: 8px;
	}
	
	.welcome_content {
 
    width: 30%;
    top: 50%;

	}


	
	body{
		font-size: 10px;
	}

	.splash {
     margin-top: 50px;
	}

	.feature5{
		left: 180px;
	}

	.last_section div .flexbox{
		margin-top: 0px;
		flex-direction: column;
		text-align: center;
	}

	.last_section  div .box1{
		width: 100%;
	}


	.feature7{
		width: 50%;
		top:0%;
	}

	.feature8{
		padding-left: 20%;
		width: 30%;
		margin-left: 20%;
	}

	.feature78_container{
		margin-left: 15%;
	}
	.last_section h1 {
    
    margin-top: 100px;
	}

	footer{
		font-size: 10px;
	}
}





@media only screen and (max-width: 1024px){

	
	nav{
		font-size:8px;
		position: absolute;
		z-index: 3;
		right: 50px;
	}
	.logo{
		font-size:8px;
		padding-top:8px;
	}

	.banner_container1{
		height: 10vh;
	}

	.logo img{
		width: 5%;

	}

	video{
		width: 75%;

	}
	.sign_in h1, .sign_up h1,.splash h1,.box1 h1{
		font-size: 2em;
	}

	.intro{
		padding-left: 30px;
		width: 100%;
		font-size: 8px;
	}
	
	.welcome_content {
 
    width: 100%;
    top: 30%;
	}


	
	body{
		font-size: 10px;
	}

	.splash {
     margin-top: 250px;
	}

	.feature1,.feature2,.feature5,.feature6,.feature7,.feature8 {
    
    width: 60%;
    height: 80vh;

	}

	.feature1{
		left:100px;
		top: -100px;
	}
	.feature2{
		left: 200px;
	}


	.feature4{
		padding-top: 200px;
	}
	.feature5{
		left: 150px;
	}

	.section2{
	background: #fff;
	height: 55vh;
   

	}

	.feature56_container {
    position: relative;
    top: -300px;
    left: -20px;
	}
	.feature34_container {
    position: relative;
    top: -400px;
    left: -20px;
	}

	.splash {
     margin-top: -200px;
     width: 100%;
     margin-left: 100px;
	}

	.last_section div .flexbox{
		margin-top: 0px;
		flex-direction: column;
	}

	.last_section  div .box1{
		width: 100%;
	}


	.feature7{
		top:0%;
	}

	.feature8{
		padding-left: 20%;
	}

	.last_section h1 {
    
    margin-top: 100px;
	}

	footer{
		font-size: 10px;
	}


}




@media only screen and (max-width:910px){
	.menu{
	position: absolute;
	z-index: 3;
	right: 0%;
	top: -5px;
	cursor: pointer;
	}

	.bar1{
		width: 30px;
		height: 3px;
		background:#fff;
	}
	.bar2{
		width: 30px;
		height: 3px;
		background:#fff;
		margin-top: 5px;
	}
	.bar3{
		width: 30px;
		height: 3px;
		background:#fff;
		margin-top: 5px;

	}

	nav ul{	
		
		margin-top: 40px;
		


	}

	nav li {
		clear: both;
		display: flex;
		flex-direction: column;
		font-size: 15px;
		padding-top: 5px;
		position: relative;
		left: -10%;
		transition: all 1s cubic-bezier(0, .13, .04, 1);
		

	}

	.banner_container1{
		height: 7vh;
		transition: all .5	s cubic-bezier(0, .13, .04, 1);
		
	}

	.show_height{
		height: 45vh;
		background: black;

	}

	.carpool_text{
	opacity: 0;
	}
	.carpool_logo{
	width: 100%;
	}
	video{
		display: none;
	}

	.play_button{
	display: block;
	position: relative;
	left: 10%;
	cursor: pointer;
	
	}
	hr{
		display: none;
	}
	.flexbox{
		flex-direction: column;
		text-align: center;
		padding: 0;
	}
	.box1{
		width: 100%;
		margin-top: 35px;
	}
	.box1s{
		width: 100%;
		
	}
	.box2{
		width: 100%;
		margin-top: 35px;
	}

	.box2s{
		width: 100%;
		
	}

	.box3s{
		width: 100%;
		
	}
	
	.intro{
		padding-left: 0px;
		
	}
	.welcome_content{
		margin-top: 100px;
	}

	.feature1,.feature2,.feature5,.feature6,.feature7,.feature8 {
    
    width: 40%;
    height: 60vh;

	}

	.feature7,.feature8{

		margin:0px;
	    padding:50px;

	}

	.feature7{
		margin-left: -150px;
	}

	.feature34_container {
   display: none;
	}

	.feature12_container {
  		left:15%;
	}

	.feature56_container {
    
	    top: 0px; 
	    left: 20px;
	    height: 60vh;
	}

	.feature78_container {
    
	    top: 0px; 
	    left: 0px;
	    margin:0px;
	    padding:0px;
	   
	}
	.map {
   
    margin-top: 200px;
	}

	.splash {
     left: 0;
     margin: 0;
     
	}

	.feature1{
	left:0px;
	top: 0px;
	}

	.feature2{
		left: 100px;
		top: 0px;
	}

	.foot1,.foot2{
		display:none;
	}
	
	.icons{
		width: 200px;
		padding-left: 30px;

	}
	footer{
		height: 5vh;
	}

	.foot3{
		margin: 0px auto;
		font-size: 8px;
		width: 150px;
	}
	
}

/* query heights*/

@media only screen and (max-width: 569px){


	.container_s {
	    margin: 0; 
	     width: 100%; 
	}
	.welcome_content {
	    margin-top: 250px;
	}
	.feature12_container {
    	left: 0;
    	margin-top: 250px;
	}
	.feature1, .feature2 {
    width: 60%;
    height: 60vh;
	}
	
	.carpool_logo{
		width: 150%;
	}
	.play_button {
    text-align: center;;
    left: 0;
	}
	.section_sign {
    height: 100vh;
    margin-top: 100px;
	}
	.last_section div.box2 {
    width:0;
    margin-top: 0;
    
	}
	.feature5 {
    left: 110px;
}

}